<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bryan Vargas</title>
  	<!-- bower:css -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  	<!-- endbower -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/main.min.css">
	<!-- endinject -->
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </header>
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <!-- endbower -->
	<!-- inject:js -->
	<script src="/js/main.min.js"></script>
	<!-- endinject -->
</body>
</html>