<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bryan Vargas</title>
  	<!-- bower:css -->
  	<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
  	<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css" />
  	<!-- endbower -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
	<!-- inject:css -->
	<link rel="stylesheet" href="/css/main.min.css">
	<!-- endinject -->
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <a href="#" class="logo"><img class="img" src="/images/logo.png" alt="logo"></a>
                <nav class="menu" id="menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Nuestros Trabajos</a></li>
                        <li><a href="#">Team</a></li>
                        <li><a href="#">Testimoniales</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </header>

    <section class="slider">
        <ul class="slider-carousel" id="slider-carousel">
            <li class="img1">
                <h1>Bienvenido a <span class="primary">Belerofonte</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Reiciendis porro est perspiciatis, minus. Quaerat, veniam.</p>
                <a href="#" class="primary-bg cta1">Get Started</a><a href="#" class="secondary-dark-blue-bg cta2">Contact Us</a>
            </li>
            <li class="img2">
                <h1>Bienvenido a <span class="primary">Corporate</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Reiciendis porro est perspiciatis, minus. Quaerat, veniam.</p>
                <a href="#" class="primary-bg">Get Started</a><a href="#" class="secondary-dark-blue-bg">Contact Us</a>
            </li>
            <li  class="img3">
                <h1>Bienvenido a <span class="primary">Corporate</span></h1>
                <p>Lorem ipsum dolor sit amet, consectetur <br>adipisicing elit. Reiciendis porro est perspiciatis, minus. Quaerat, veniam.</p>
                <a href="#" class="primary-bg">Get Started</a><a href="#" class="secondary-dark-blue-bg">Contact Us</a>
            </li>
        </ul>
        <ul class="sliderpager">
            <li><a href="#"><i class="fa fa-circle"></i></a></li>
            <li><a href="#"><i class="fa fa-circle"></i></a></li>
            <li><a href="#"><i class="fa fa-circle"></i></a></li>
        </ul>
    </section><!-- finde section slider -->

    <section class="services section-padding">
        <div class="services-header">
            <h1>Services</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br /> Temporibus architecto incidunt consectetur.</p>
        </div>
        <div class="services-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <p><i class="fa fa-laptop"></i></p>
                        <h1>Web Design</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>
                     <div class="col-md-4">
                        <p><i class="fa fa-edit"></i></p>
                        <h1>Graphic Design</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>
                     <div class="col-md-4">
                        <p><i class="fa fa-cog"></i></p>
                        <h1>PSD to HTML</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>                    
                </div>
                <br>
                 <div class="row">
                    <div class="col-md-4">
                        <p><i class="fa fa-bars"></i></p>
                        <h1>Wordpress</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>
                     <div class="col-md-4">
                        <p><i class="fa fa-leaf"></i></p>
                        <h1>Theme Development</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>
                     <div class="col-md-4">
                        <p><i class="fa fa-globe"></i></p>
                        <h1>Unlimited Support</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod vitae amet fugiat voluptas in.</p>
                    </div>                    
                </div>
            </div>
        </div>
    </section> <!-- finde section services -->

    <section class="portfolio section-padding">
        <div class="portfolio-header">
            <h1 class="white">Lorem ipsum - Trabajos</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br /> Temporibus architecto incidunt consectetur.</p>
        </div>
        <div class="container">
            <div class="row">
                <ul class="portfolio-carousel">
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project1.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project2.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project3.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project4.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project2.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/portfolio/project3.png" alt="">
                            <div class="overlay-content">
                                <h3>Entorno de Desarrollo</h3>
                                <p><a href="#">Click here</a>for details</p>
                            </div>
                        </div>
                    </li>  
                </ul>  

                <ul class="portfolio-nav">
                    <li id="prev">&lt;</li>
                    <li id="next">&gt;</li>
                </ul>   
            </div>               
        </div>        
    </section><!-- finde seccion Portfolio -->

    <section class="team section-padding">
        <div class="team-header">
            <h1>Lorem ipsum - Team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit<br /> Temporibus architecto incidunt consectetur.</p>
        </div>
        <div class="container">
            <div class="row">
                <ul class="team-carousel">
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member1.png" alt="">
                            <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member2.png" alt="">
                            <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member3.png" alt="">
                            <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member4.png" alt="">
                            <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member2.png" alt="">
                            <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="inner-content">
                            <img src="images/team/member3.png" alt="">
                           <div class="overlay-content white">
                                <p class="name primary">Rodolfo Vargas</p>
                                <p class="position secondary-sky-blue bold">Web Developer</p>
                                <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ut quae molestias eos perferendis!</p>
                                <ul class="member-social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></li></a>
                                    <li><a href="#"><i class="fa fa-twitter"></i></li></a>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></li></a>
                                </ul>
                            </div>
                        </div>
                    </li>  
                </ul>  

                <ul class="team-nav">
                    <li id="team-prev">&lt;</li>
                    <li id="team-next">&gt;</li>
                </ul>   
            </div>               
        </div>        
    </section> <!-- finde seccion team -->
    
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/bower_components/gilbitron/carouFredSel/jquery.carouFredSel-6.2.1.js"></script>
    <!-- endbower -->
	<!-- inject:js -->
	<script src="/js/main.min.js"></script>
	<!-- endinject -->
</body>
</html>